.titulo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(252, 252, 252);
    background-color: rgb(158, 10, 221);
    border-radius: 1.5px;
    padding: 0.1px;
    box-shadow: rgb(0 0 0 / 14%) 0px 6px 10px;
}

/* .proximo {
    text-align: right;
    box-shadow: rgb(0 0 0 / 14%) 0px 6px 10px;
    background-color: blueviolet;
    border-radius: 2px;
    position: absolute; 
    bottom: 10px;
    padding-left: 10px;
    right: 0; 
} */

.botao {
    border-radius: 2px;
    position: absolute; 
    bottom: 10px;
    padding-left: 10px;
    right: 0; 
    padding: 30px;
    
}
button {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    background-color: blueviolet;
    border-radius: 2px;
    height: 40px;
    width: 100px;
}
