@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Source+Serif+Pro&display=swap");

@font-face {
  font-family: "DINNextW1Gk";
  src: url("../fonts/665-font.otf");
}
* {
  /* Configurações padrões da página. */
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  text-align: center;
}

button {
  outline: 0;
}
body {
  background: #0891c6;
}
h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

p {
  font-family: "Source Serif Pro", serif;
  color: #e2efdc;
  padding: 20px;
  text-align: left;
}
header {
  /* Topo da página. */
  background: #0b4a8d;
  box-shadow: 0px 19px 18px 23px rgba(0, 0, 0, 0.185);
  border-radius: 5px;
}

#imgs {
  width: 345px;
  height: 290px;
  border-radius: 5px;
}
.nav-bar {
  /* Barra de navegação que fica no topo da página. */
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
  transition: 1s;
}

.logo {
  /* Logo da página. */
  display: flex;
  align-items: center;
}

.logo h1 {
  /* Texto da logo. */
  color: #fff;
  text-shadow: 0 1px 0 #ccc;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.nav-list {
  /* Menu de navegação. */
  display: flex;
  align-items: center;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.nav-list ul {
  /* Lista de navegação da página. */
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  /* Itens da lista de navegação. */
  margin: 0 15px;
}

.nav-link {
  /* Itens da lista de navegação. */
  text-decoration: none;
  font-size: 1.15rem;
  color: #fff;
  font-weight: 400;
  transition: 1s;
  font-family: "Source Serif Pro", serif;
}

.nav-link:hover {
  /* :hover é a propriedade que diz se o mouse passou em cima do de algum item. */
  transition: 1s;
  opacity: 100%;
  color: #51aadf;
}

.mobile-menu-icon {
  /* ícone do menu. */
  display: none;
  text-align: right;
}

.mobile-menu {
  /* Faz menu de celular ficar invisível na página */
  display: none;
}

@media screen and (max-width: 730px) {
  /* Caso o usuário esteja pelo celular, o menu é adaptado para menu hamburguer. */

  .nav-bar {
    padding: 1.5rem 4rem;
  }

  .nav-item {
    display: none;
  }
  .mobile-menu {
    overflow: hidden;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 1s;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
    transition: 1s;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
    transition: 1s;
  }
  .icon {
    -webkit-animation: slide-in-blurred-right 1s cubic-bezier(0.23, 1, 0.32, 1)
      both;
    animation: slide-in-blurred-right 1s cubic-bezier(0.23, 1, 0.32, 1) both;
  }

  .open {
    display: block;
  }
}

.main-text {
  /* Texto principal da página. */
  text-align: center;
  color: #003752;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.main-img {
  /* Imagem principal da página. */
  width: 50%;
}

#back-to-top {
  /* ícone que faz voltar para o início da página */
  transition: 1s;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50px;
  opacity: 50%;
  background-color: #3e9da7;
  border: #399da8;
  -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

#imgbotao:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
#back-to-top:hover {
  /* :hover é a propriedade que diz se o mouse passou em cima do de algum item. */
  opacity: 100%;
  transition: 1s;
  background-color: #58afb8;
  cursor: pointer;
}
#credits {
  /* Configura os cr[éditos da p[ágina */
  position: relative;
  text-align: center;
}
.title-1 {
  font-size: 18px;
  padding: 12px;
}

.embed {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
  height: 100%;
}
.embed iframe {
  position: absolute;
  border: none;
  width: 60%;
  height: 60%;
}
.video3 {
  box-shadow: 0px 0px 19px 14px rgba(0, 0, 0, 0.292);
  border-radius: 10px;
}

/* Animações */
[data-anima] {
  opacity: 0;
  transition: 1.3s;
}

[data-anima="esquerda"] {
  transform: translate3d(-50px, 0, 0); /*x, y, z*/
}
[data-anima="direita"] {
  transform: translate3d(50px, 0, 0); /*x, y, z*/
}
[data-anima="centro"] {
  transform: translate3d(0, 50px, 0); /*x, y, z*/
}
[data-anima].animacao {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
/* Animação do texto */

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* Animação botão menu hamburguer */

@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* Animação botão back to top */

@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
